<div class="container">
    <div class="card table-responsive">
      <table class="table">
        <caption>Tabla de la tasa representativa del dolar</caption>
          <thead>
            <tr>
              <th scope="col">Valor</th>
              <th scope="col">Vigencia</th>
            </tr>
          </thead>
          <tbody>
            <!--<tr  *ngFor="let trm of listaTrm">
               <td>{{ trm.valor | currency }}</td>
               <td>{{ trm.vigenciadesde|date}}</td>
            </tr>-->
          </tbody>
        </table>
    </div>
</div>
