<div class="container-fluid">
    <h1 class="text">Alquiler de vehiculos</h1>
    <br>
    <form [formGroup]="alquilerForm" (ngSubmit)="crear()">
    <div class="row">
      <div class="col-sm-2">
        <label>Tiempo del alquiler:</label>
      </div>
      <div class="col-sm-6">
        <input validar type="number" id="tiempoAlquilado" name="tiempoAlquilado"  class="form-control" placeholder="Tiempo del Alquiler"
          formControlName="tiempoAlquilado">
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col-sm-2 ">
        <label>Fecha alquilado del vehiculo:</label>
      </div>
      <div class="col-sm-6 ">
        <input validar type="date" id="fechaAlquiler" name="fechaAlquiler"  class="form-control" placeholder="dd/MM/yyyy"
          formControlName="fechaAlquiler">
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col-sm-2">
        <label>Fecha devolucion del vehiculo:</label>
      </div>
      <div class="col-sm-6">
        <input validar type="date" id="fechaDevolucion" name="fechaDevolucion"  class="form-control" placeholder="dd/MM/yyyy"
          formControlName="fechaDevolucion">
      </div>
    </div>
    <button id = "crear" class="btn btn-primary btn-block mt-4">
      Generar alquiler
    </button>
  </form>   
  </div>
