<h1 class="text">Lista del registro de alquiler</h1>
<br>
<div class = "div-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tiempo de alquiler</th>
          <th scope="col">Fecha de Alquiler</th>
          <th scope="col">Fecha de Devolucion</th>
          <th scope="col">Fecha de Devolucion Real</th>
          <th scope="col">Pago</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alquiler of listaAlquiler | async" id="listaAlquiler">
             
          <td>{{alquiler.id}}</td>
          <td>{{alquiler.tiempoAlquilado}}</td>
          <td>{{alquiler.fechaAlquiler}}</td>   
          <td>{{alquiler.fechaDevolucion}}</td>
          <td>{{alquiler.fechaDevolucionReal}}</td>
          <td>{{'$' + alquiler.totalAPagar}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>